@import "./reset.css";

@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    format("woff2");
}

html,
body {
  font-family: "Poppins", sans-serif;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
a,
button {
  cursor: pointer;
}

/* 접근성을 위한 텍스트 숨김 */
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  opacity: 0;
  animation: fadeOut ease-in-out 1.3s;
}
